.nav {
  background-color: #f9f9fa;
  box-sizing: border-box;
  padding: 20px 50px;

  border-top: 1px solid rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
}
.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__message__notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__setting__notification {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -10px;
}
